<img alt="Rails" src="/assets/images.jpg" style="width:981px;height:230px"/ >
<blockquote>  On the first page of the application you will see two links  on the Header called Sign_in and Register.
      <small> You have to first register yourself by clicking on register link, on click you will get a register form with required fields, fill the form and click on submit button. 

 Now you will get a confirmation mail on your email which you given in the email field.

 Go to your email and check the confirmation mail, It include a confirmation link, On clicking on the confirmation link you get your account confirmed.</small>
<p>Note:- If you didn't confirm your account by clicking on the confirmation link in the confirmation mail, you will not able to Log_in.</p></blockquote>